<!doctype html>
<html>
<head></head>
<body>
<h1>Books</h1>
	<table>
		<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	</table>
	<h2>New book</h2>
	<%= form_for(@book) do |f| %>

	<h4>Title</h4>
	<%= f.text_field :Title %>

	<h4>Body</h4>
	<%= f.text_field :Body %>
	<%= f.submit 'Create Book' %>
	<% end %>
</body>
</html>
	<!-- <form class="new_book" id="new_book" action="/books" accept-charset="utf-8" method="post">

		<div class="field">
    		<label for="book_title">Title</label>
    		<input class="book_title" type="text" name="book[title]" id="book_title">
  		</div>

		<div class="field">
    		<textarea class="book_body" name="book[body]" id="book_body">
    		</textarea>
    		<label for="book_body">Body</label>
  		</div>
		<div class="actions">
    		<input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
  		</div>
  	</form> -->
