
<head>
    <title>WebCampBackendNew</title>
</head>
<body>
  	<strong>Title:</strong>
  <p> <%= @book.title %></p>
  	<strong>Body:</strong>
 <p> <%= @book.body %> </p>
<a calss="edit" href="">Edit</a>
<a calss="back" href="/books">Back</a>

