
<head>
    <title>WebCampBackendNew</title>
</head>
<body>
  	<strong>Title:</strong>
  		<p> <%= @book.title %></p>
  	<strong>Body:</strong>
 	<p> <%= @book.body %> </p>
	<p class="singe-text">
		<%= @book.body %>
	</p>
	<%= link_to"Edit",edit_book_path(@book) %>
<!-- <a calss="edit" href="">Edit</a> -->
<a calss="back" href="/books">Back</a>

